body{
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.variedad{
    padding: 0px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.variedad_items{
    background: #1D4350;
    width: 300px;
    margin: 5px;
    padding: 10px;
    position: relative;
    color: white;

}

.contenedor_img{
    position: relative;
    margin: 0px;
    width: 270px;
    height: 300px;
    left: 2px;
    top: 5px;
    object-fit: cover;
}

.contenedor_img img{
   width: 100%;
    height: 300px;
}





